:root {
    --navbar-background-color: 101, 109, 15;
    --navbar-text-color: 255, 255, 255;
}

* {
    font-family: "Cinzel", sans-serif;
}

body {
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ), url(/static/images/background.png) no-repeat center center fixed;
    background-size: cover;
}
