.content {
    text-align: center;
    color: white;
    margin: 20px auto 0 auto;
    max-width: 80vw;
    font-weight: bold;
    text-shadow: 2px 2px 1px rgba(50, 50, 50, 0.6);
}

hr {
    border-top: 3px solid white;
    width: 60%;
    border-radius: 50%;
}

@media screen and (max-width: 992px) {
    .content {
        max-width: none;
    }
}
