.navbar {
    background: rgba(var(--navbar-background-color), 0.6);
    border-bottom: solid 5px rgb(var(--navbar-text-color));
    width: 100%;
    height: 60px;
    color: rgb(var(--navbar-text-color));
}

.navbar a:hover {
    text-decoration: underline;
}

.navbar * {
    color: rgb(var(--navbar-text-color));
}

.navbar-nav {
    flex-direction: row;
}

.nav-item {
    width: 100vw;
    max-width: 5em;
    overflow: hidden;
    text-align: center;
}

.branding {
    display: flex;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 0;
    margin-right: 0;
    max-width: 150px;
    z-index: 100;
    position: absolute;
}

.branding a {
    background: rgb(var(--navbar-background-color));
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
}

.branding .shorttext {
    width: 100%;
    display: block;
}

.branding .fulltext {
    width: 100%;
    display: none;
}

.navbar-holder {
    width: 100%;
    position: inherit;
}

@media screen and (max-width: 992px) {

    .branding {
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        max-width: none;
        justify-content: center;
        text-align: center;
        position: static;
        border-bottom: solid 5px rgb(var(--navbar-text-color))
    }

    .branding a {
        background: rgba(var(--navbar-background-color), 0.6);
        border: none;
        border-radius: 0;
        padding: 15px;
    }

    .branding .shorttext {
        display: none;
    }
    
    .branding .fulltext {
        display: block;
    }

    .navbar {
        text-align: center;
        margin-top: 0;
        border-bottom: 0;
        background: rgba(var(--navbar-background-color), 1);
        position: fixed;
        bottom: 0;
        z-index: 1;
    }

    .navbar ul {
        box-shadow: 0;
    }

    body {
        margin-bottom: 60px; /* Navbar height */
    }
}
