div.branding {
    background: rgba(var(--navbar-background-color), 0.6);
    border-bottom: solid 5px rgb(var(--navbar-text-color));
    display: flex;
    width: 100%;
    height: 60px;
}

h1.branding {
    display: flex;
    margin-left: 100px;
    margin-top: -40px;
    margin-bottom: 0;
    margin-right: 0;
    max-width: 150px;
}

.branding a {
    background: rgb(var(--navbar-background-color));
    padding: 5px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px 20px;
}

.branding .shorttext {
    width: 100%;
    display: block;
}

.branding .fulltext {
    width: 100%;
    display: none;
}

nav.navbar {
    background-color: rgba(0, 0, 0, 0);
    color: rgb(var(--navbar-text-color));
    margin-top: -30px;
}

nav.navbar a:hover {
    text-decoration: underline;
}

nav.navbar ul {
    margin-left: auto !important;
    margin-right: 0 !important;
}

nav.navbar * {
    color: rgb(var(--navbar-text-color));
}

@media screen and (max-width: 992px) {
    div.branding {
        display: none;
    }

    h1.branding {
        margin-left: 0;
        margin-top: 0;
        width: 100%;
        max-width: none;
        justify-content: center;
        text-align: center;
    }

    .branding a {
        background: rgba(var(--navbar-background-color), 0.6);
        padding: 10px;
        border-radius: 0;
        padding: 15px;
    }

    .branding .shorttext {
        display: none;
    }
    
    .branding .fulltext {
        display: block;
    }

    nav.navbar {
        text-align: center;
        flex-direction: column;
        margin-top: 0;
    }

    nav.navbar ul {
        box-shadow: 0;
    }
}
