Options +FollowSymLinks -MultiViews -Indexes
RewriteEngine On

Header set Access-Control-Allow-Origin "*"

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME}.php -f
RewriteRule ^(.*)$ $1.php [NC,L]

DirectoryIndex index.php index.html
